unused
*.root
*.mid
*.odb
*.sfu
*.spn
*.spe
*.mca
*.pdf
*.ods
*.sou
*.mat
*.aef
*.aca
*.gls
*.e4k
*.e4k*
*~
*~lock*
*.list
list
*.mat
test*
cluster.dat
cluster*
cluster
GRSIsort
master
master_*
gfinit.dat
MasterFiles
ParFiles/CSIARRAY_par.dat
ParFiles/TIGRESS_par.dat
ParFiles/gate*.root
ParFiles/gate*.dat
*Trash*
calibration
*.txt
*.log
